
$primary-color: #ffffff;
$input-text-color: #333333;
$input-placeholder-color: #b7b7b7;
$line-btw-text: #9F9F9F;

$secondary-color: #3f51b5;
$nav-item-color: #464646;
$mrp-color: #808080;
$checkout-background: #F1F3F6;
$filter-border: #c3c3c3;

$background-color: #d9d9d908;
$placeholder-color: #868686;
$background-btn: #7221FF;

$font-color: #BFBFBF;

$product-title: #000000;
$footer-btn: #222222;

$cart-mrp: #797878;
