.bulk_products {
  /* margin-left: 270px; */
  /* border: 2px solid green; */
  margin-top: 2%;
}
.bulk_products h4 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.key_points {
  margin: 0%;
}

.key_points > li {
  font-size: 13px;
  margin-top: 0%;
  margin-left: 0%;
  text-align: justify;
}
.bulk_product_container {
  width: 98%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  padding: 2rem;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  gap: 1.8rem;
  margin-bottom: 2rem;
}
.bulk_step1 {
  background: rgb(222, 222, 248);
  padding: 1.5rem;
  gap: 0.6rem;
  border-radius: 5px;
}
.bulk_step1 h3 {
  margin: 0%;
}
.download_csv {
  border: none;
  height: 35px;
  padding: 0% 2%;
  background: #3f51b5;
  color: #ffffff;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}
.key_points_list {
  /* margin: 0%; */
  font-size: 15px;
}
.center-btns {
  /* border: 2px solid green; */
  width: 100%;
  /* margin-left: 140px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.both_butns {
  width: auto;
  display: flex;
  gap: 1rem;
}
.button_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.close_icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal_button_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_btn {
  width: 15%;
  height: 45px;
  background-color: #3f51b5;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  border-radius: 17px;
  border: none;
}
.modal_submit_btn {
  width: 45%;
  height: 45px;
  background-color: #3f51b5;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  border-radius: 17px;
  border: none;
}
.action-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1028px) {
  .both_butns {
    display: flex;
    flex-wrap: wrap;
  }
  .bulk_products {
    height: auto;
  }
}
