.Edit-Section {
  width: 620px;
  height: 800px;
  overflow-x: hidden;
  padding: 0rem 0rem 1.8rem 0rem;
  border-radius: 15px;
}
.form-container {
  width: 90%;
  margin: 0 auto;
}

.Edit-Section h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 1%;
}
.Edit-Section form {
  width: 100%;
}
.Edit-Section label {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
.Edit-Section input {
  background: #ffffff;
  border: 1px solid #a5a4a4;
  border-radius: 4px;
  height: 2.5rem;
  width: 443px;
  font-size: 17px;
  padding: 3%;
}
.Edit-Section .Edit-Btn {
  height: 2.5rem;
  background: #3f51b5;
  border-radius: 4px;
  width: 38%;
  border: none;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.3rem auto;
}
.Edit-Section .edit-section-div {
  display: flex;
  align-items: center;
  width: 443px;
  justify-content: space-between;
  gap: 1%;
}
.Edit-Btn .edit-section-div .town {
  display: flex;
  width: 20%;
  border: 0.3px solid red;
  flex-direction: column;
}

.edit-section-div input {
  width: 37%;
}
